---
---

@import "../_sass/agency.scss";


.timeline-icon {


    @media(min-width:768px) {
        font-size: 3em;
        line-height: 60px !important;
    }

    @media(min-width:992px) {
        font-size: 4em;
        line-height: 90px !important;
    }

    @media(min-width:1200px) {
        font-size: 5em;
        line-height: 160px !important;
    }
}

img{
    max-width: 800px;
}

.navbar-brand{
    text-transform: uppercase !important;
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif !important; 
    font-weight: 700 !important;
}
.demoPreview{
    border: none;
    width:100%;
    min-height: 600px;
}

.ci-gallery{
    display: flex;
    flex-direction: row;
    justify-content: stretch;

    img{
        width: 100%;
        flex: 1;
    }

    position: relative;
    left: 0;
    width: 25%;
}