---
---

@import "../_sass/agency.scss";


.timeline-icon {


    @media(min-width:768px) {
        font-size: 3em;
        line-height: 60px !important;
    }

    @media(min-width:992px) {
        font-size: 4em;
        line-height: 90px !important;
    }

    @media(min-width:1200px) {
        font-size: 5em;
        line-height: 160px !important;
    }
}

img{
    max-width: 800px;
}

.navbar-brand{
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}