---
layout: base
---

 
{% include header.html %}

<div class="container" style="margin-top: 150px">
    <div style="display:flex; flex-direction: row; justify-content: center">
        {% for member in page.team %}
        <div style="display: flex; flex-direction: column; justify-content: center; width:100%" >
            <img style="max-width:200px" class="mx-auto rounded-circle" src="{{member.avatar_url}}" alt="">
            <h1 style="margin:50px; text-align: center">{{ member.name }}</h1>
        </div>
        {% endfor %}
    </div>    
    {{ content }}
</div>

