h1 {
    color: #fffbc9;
    font-size: 3em;
    line-height: 1em;
    margin-bottom: 15px;
    font-family: sans-serif;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
    @media {}
}

p {
    line-height: 1em;
}

div {
    color: #fffbc9;
    font-family: sans-serif;
    line-height: 1em;
    margin: 2%;
}

#canvas {
    margin-left: 2%;
    background: linear-gradient(#80BCA3, #B6D8C0);
}

#log {
    max-height: 5em;
    overflow-y: scroll;
}

body {
    max-height: height: 100%;;
    overflow-y: hidden;
    background-color: #660000;
    color: #fffbc9;
}

#colors {
    width: 25px;
    height: 25px;
    text-align: center;
}

#sq {
    vertical-align: middle;
}


progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 150px;
  height: 20px;
}