{% extends "base.html" %}

{% block head %}
    <style>
        #sessions{
            position: fixed;
            top: 80px;

            background: rgba(50,50,50,0.3);

            padding: 10px;

            border: 1px solid white;

            max-height: 300px;
            overflow: auto;
        }

        #sessions a{
            color: gray !important;
            text-decoration: none !important;
        }

        #session_preview iframe{
            position: fixed;
            top: 65px;
            left: 0;
            width: 100%;
            height: 100%;

            border:none;
        }

        .session_link{
            cursor:pointer;

        }

        .session_link.active{
           font-weight: bold;
           color:gold;
        }

    </style>
{% endblock %}

{% block content %}
   

    <div id="session_preview">
        <iframe id="window" src="dashboard/main">

        </iframe>
    </div>
    <div id="sessions">

    </div>


{% endblock %}

{% block command_form %}{%endblock%}

{% block scripts %}
<script>
    var socket = io.connect('http://' + document.domain + ':' + location.port + '/simulator');
        
    socket.on('connect', function() {
            console.log("Connected")
        });

    let selected = "main";

    socket.on('sessions', function(e) {
        console.log(e)

        $("#sessions").html("<h3>Opened sessions</h3>")

        Object.keys(e).forEach(t => {

            if(Object.keys(e[t]).length > 0)
                $("#sessions").append($(`<p class="session_link ${t == selected? 'active': ''}">${t}</p>`).click(function(e){
                    e.preventDefault();

                    $("#window").attr("src", 'http://' + document.domain + ':' + location.port + '/dashboard/' + t)

                    selected = t;
                }))
        })
    });

</script>
{% endblock %}